<h1><%= @restaurant.name %></h1>
<h2>Address: <%= @restaurant.address %></h2>
<h3>Category: <%= @restaurant.category %></h3>

<%= link_to 'Reviews', restaurant_reviews_path(@restaurant) %>


<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content, placeholder: 'Write your review...' %>
  <%= f.input :rating, placeholder: 'Add your rating (0-5)' %>
  <%= f.submit 'Add review', class: 'btn btn-primary' %>
<% end %>

<%= render 'reviews/form' %>
